body{
    background-color: #393e46;
}

*{
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
    font-weight: 400;
    font-size: 75px;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    margin-bottom: 15px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

.dice p{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    font-size: 50px;
    margin-bottom: 15px;
}

footer{
    text-align: center;
    color: white;
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
}